<div id="content">
  <div class="indent-content wide">
    <h3>Registration Complete</h3>
    <p>
      You should receive an email shortly detailing how to activate your account.
    </p>
  </div>
</div>