<div id="content">
  <div class="indent-content wide">
    <% if flash.now[:warning] || flash[:warning] %>
      <p id="warning"><%= flash[:warning].blank? ? flash.now[:warning] : flash[:warning] %></p>
    <% end %>
    <h3>Reset Password</h3>
    <h4>Please enter your email address. You will be mailed instructions to reset your password</h4>
    <%= form_for :user, as: :post, url: request_reset_path do |f| %>
      <table class="wwFormTable">
        <tbody>
        <tr>
          <td class="tdLabel"><label for="user_email" class="label">Email Address:</label></td>
          <td class="tdInput"><%= f.text_field :email %></td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="formButton"><%= f.submit "Request Password Reset" %></div>
          </td>
        </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>