<div id="content">
  <div class="indent-content wide">
    <h3>Activate Account</h3>
    <p>
      <%= flash[:notice].blank? ? flash.now[:notice] : flash[:notice] %>

    </p>
    <%= form_for @user, url: reactivate_path do |f| %>
      <label for="email">Email Address</label>
      <%= f.text_field :email %>
      <%= f.submit "Resend Activation Email" %>
    <% end %>
  </div>
</div>

