<div class="indent-content wide">
  <h3 class="red">About Ethnomusicology Multimedia</h3>
  <p>
    Ethnomusicology Multimedia (EM) is an innovative, entrepreneurial, and cooperative effort to expand opportunities for emerging scholars in ethnomusicology
    by publishing first books accompanied by supplemental audiovisual material online. Developed with funding from the Andrew W. Mellon Foundation, EM is a
    collaboration of the presses at Indiana and Temple universities. Each press acquires and develops EM books according to its own needs and editorial criteria
    for high-quality first books by promising ethnomusicologists.
  </p>
  <p>
    Key aspects of EM include:
  <ul>
    <li>Publication of first books by emerging scholars.</li>
    <li>Online tool for EM authors to annotate supplemental audiovisual materials.</li>
    <li>
      Public web portal for supplemental audiovisual material with annotation, searching, and cross referencing to print
      content (<a href="http://www.ethnomultimedia.org">www.ethnomultimedia.org</a>).
    </li>
    <li>
      A unique interactive experience for readers of books in the EM series, enabling them to see and hear video and audio
      selections keyed to relevant passages in the books.
    </li>
  </ul>
  </p>
  <p>
    EM's most innovative features are its web-based components, which include a password-protected Annotation Management System
    (AMS) where authors can upload audio, video, and static image content for annotation and key the selections to corresponding
    references in their texts; a public site for viewing the web content, www.ethnomultimedia.org, with links to publishers'
    websites for information about the accompanying books; and the Avalon Media System, which hosts video and audio content for
    the website. The AMS and website were designed and built by the Institute for Digital Arts and Humanities at Indiana University.
    Avalon was designed and built by the libraries at Indiana University and Northwestern University with support from the Institute
    of Museum and Library Services. The Indiana University Libraries hosts the website and the Indiana University Archives of Traditional
    Music (ATM) provides archiving and preservation services for the EM online content.
  </p>