<div id="content" class="contacts">
  <h3 class="red">Contact Us</h3>
  <div class="left">
    <p>
      <b>Indiana University Press</b><br/>
      Office of Scholarly Publishing<br/>
      Herman B Wells Library 350<br/>
      1320 10th St.<br/>
      Bloomington, IN 47405<br/><br/>
      812-855-8817<br/>
      <a href="https://iupress.org/contact-us/">https://iupress.org/contact-us/</a>
    </p>
  </div>
  <div class="right">
    <p>
      <b>Temple University Press</b><br/>
      1900 N. 13th Street<br/>
      Philadelphia, PA 19122<br/><br/>
      215-204-8787<br/>
      <a href="https://tupress.temple.edu/forms/inquiries">tupress.temple.edu/forms/inquiries</a>
    </p>
  </div>
  <div class="clear"></div>
</div>